.font-serif{
 font-family: 'Source Serif Pro', serif;
}
body{ 
    background-color: white;
}
#description{
  display: inline;
}
.center{
    margin: auto;
}
.photoofplace img{
   
   width: 100%;
   height: 400px;
    border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 500px) {
    .photoofplace img{
        height: 200px;
    }
    
}
.description{
    height: 75px;
    overflow-y: hidden;
}
.caption{
    padding: 0;
    border-bottom: 2px solid rgb(148,147,67);
    border-top: 8px solid rgb(148,147,67);
}

a{
      color:  rgb(134,88,29);
}
a:hover{
    text-decoration: none;
}
.postplace{
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid black;
}
.name{
    margin-top: 0px;
}
/*           */
#InputFile{
    margin: 5px;
}
#divmorephoto{
    display: none;
}
.addpostbutton{
    float: right;
}
.btn-default,
.btn-default:active,
.btn-default:visited,
.btn-default:focus{
   background-color:white;
     border: none;
}
#addpostbutton:hover{border-right: 2px solid rgb(148,147,67); border-bottom: 2px solid rgb(148,147,67); background-color:white;}
.sortpost:hover{border-left: 2px solid rgb(148,147,67); border-bottom: 2px solid rgb(148,147,67); background-color:white; }
#photourl{
    display: inline-block;
    width: 100%;
    margin: 5px;
}
#image{
    display: inline-block;
}
.labeimage{
    margin: 5px;
}

/*            */


.moreurlbnt:hover{
    margin: 5px 0 5px 0;
    border-left: 2px solid rgb(148,147,67); border-top: 2px solid rgb(148,147,67); background-color:white;
}

#moreurl{
    display: none;
}